<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Caption Clown</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/styles/main.css">
    <link rel="stylesheet" href="../assets/styles/main.css">
    <link rel="stylesheet" href="../../assets/styles/main.css">

</head>


<body>
<!-- Header/navbar -->
    <div class="topnav text-center">
        <div class="logo pt-1">
            <h2 style="font-size:3vw; position: relative; left: -30px;">Caption Clown</h2>
        </div>
    </div>
    <!-- Menu -->
    <div class="dropdown" style="float:right;">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <!-- Menu Items -->
            <a href="/">Home</a>     
            <a href="/newImg">New Post</a>
            <a href="/api/acctredirect">Account</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

    {{{ body }}}

        
    <script src="assets/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
</body>

</html>