{{!-- <!-- Page Title --> --}}
<div class="text-body text-center mt-3 pt-2">
    <div class="card-header" style="width: 39%; position: relative; right: 50px;">
        <h6 class="mt-1">Update your Password</h6>
    </div>
</div>
{{!-- Login Form --}}
<div class="container login-form py-2 mt-2" style="width: 40%;">
   <form class="form-inline">
        <div class="form-group mx-auto mb-2">
            <label for="updatePass" class="sr-only">New Password</label>
            <input type="text" class="form-control" name="newPassword" id="newPass" placeholder="New Password">
        </div>
        <button type="submit" class="btn btn-dark mb-2 mx-auto" id="newPassword">Update</button>
    </form>
</div>

<script src="../assets/js/script.js"></script>
