{{!-- Easy simple form with post method pointing to the api route --}}

<form action="api/newPost" method="POST">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" name="username" rows="3">Post</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
