{{!-- Gotta make a welcome page --}}

 <header class="masthead">
    <div class="container d-flex align-items-center" style="margin-top: 10%;">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Caption Clown</h1>
        <h2 class="mx-auto mt-2 mb-5">Do you see a joke in every picture?</h2>
        <a href="/login" class="btn btn-dark">Make us laugh</a>
      </div>
    </div>
  </header>