

* {box-sizing: border-box;}


* {
  width: 0 auto;
  margin: 0 auto;
  padding: 0 auto;
  }

  
body {
  background-color: whitesmoke
}


.topnav {
  position: relative;
  background-color: rgb(10, 148, 107);
  /* background-color:rgba(7, 165, 170, 0.863); */
  height: 100px;
  /* position: -webkit-sticky;
  position: sticky;
  top: 0px; */
} 


h2 {
  position: relative;
  top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  /* text-shadow: 2px 2px #FF0000; */
  text-shadow: 2px 2px rgb(212, 92, 36);
  /* text-shadow: 2px 2px rgb(212, 156, 36); */
  /* right: 100px; */
    
}

.logo-holder {
    background-color: rgba(49, 172, 243, 0.637);
    height: 100px;
}




  /*this for dropdown button on the right side in second page*/
  
  .dropbtn {
    /* background-color: rgba(9, 153, 9, 0.582); */
    background-color: #a54812;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    right: 50px;
    width: 200px;
    bottom: 57px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 45px;
    background-color: #f9f9f9;
    min-width: 155px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #a54812;
  }
  



  /*This for the button on the left in the second page side*/
  .button {
    position: relative;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    transition-duration: 0.4s;
    cursor: pointer;
    bottom: 60px;
    left:10px;    
  }
  
  
  
.button3 {
  background-color: rgba(20, 166, 192, 0.432);
  color: white; 
}


.button3:hover {
  background-color: rgba(20, 166, 192, 0.432);
  color: white;
  display: inline-block
}





/*this color for the botton on the left in the second page */
.button {
  /* background-color: #4CAF50; Green */
  border: none;
  color: #a74207;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: large;
}


.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}




 
 .card-group {
    position: relative;
    /* left: 30px; */
    top: 50px;
} 




/*this is for hover for the images*/
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }




  /*This is for the secondnav*/
  .secondnav-body {
    position: relative;
    top: 20px;
  }





  /*this for the mid row holder*/
  .conatainer {
    position: relative;
    display: grid;
  }

/* 
  .card-body{
    position: relative;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto; 
    
  } */

  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }


  /*this for the cat like facesbook page*/ 

  .picture-holder {
    position: relative;
    bottom: 170px;
    /* left: 10px; */
  }

  a {
    position: relative;
    flex-flow: 30px;
  }



  hr {
    width: 40%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-weight: 700;
    font-size: 5px;
  }




  /*this for the photos gallery*/
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }<link rel="stylesheet" href="upward.css">
  }
  


